*.eggs
*.egg-info
yaket/schema/__pycache__/
Pipfile
mlruns/
.vscode/launch.json
yaket/__pycache__/
.vscode/
models/
yaket/converter/__pycache__/
*.onnx
*.pb
*.tflite
examples/~/
~/
dist/
examples/files/__pycache__/
tests/__pycache__/
tests/test_trainer/__pycache__/
mymodel/
tests/test_converter/__pycache__/
.coverage
*.pyc
tests/test_trainer/__pycache__/__init__.cpython-310.pyc
